<div class="logo">
  <% if current_page.url == '/' %>
    <h1 class="logo__heading"><%= data.site.title_f %></h1>
  <% else %>
    <% link_to '/', :class => 'logo__link' do %>
      <span class="logo__heading"><%= data.site.title_f %></span>
    <% end %>
  <% end %>
</div>
