<div class="menu menu--utility">
  <ul class="menu__list">
    <li class="menu__item menu__item--1 menu__item--first menu__item--save">
      <a class="menu__link" href="#"><span class="menu__copy">Save</span></a>
    </li>
  </ul>
</div>
