<div class="meta">
  <div class="meta__field meta__field--build-name">
    <label class="meta__label">Build Name:</label>
    <input class="meta__input" />
  </div>
  <div class="meta__field meta__field--creator">
    <label class="meta__label">Creator:</label>
    <input class="meta__input" />
  </div>
  <time class="meta__timestamp">
    <%= lorem.date %>
  </time>
</div>
